*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #777;
  text-transform: uppercase;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 3.5rem; }
  .heading-primary--sub {
    display: block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 2.5rem; }

.fa-instagram {
  font-size: 4rem;
  text-align: center; }

.instagram-link:link, .instagram-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #777; }

.header {
  height: 95vh;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 5.5rem; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__photo-box {
    margin-top: 20rem; }
