// Header image carousel
.header-slideshow {
  margin: 5rem auto 0;
  max-width: 60rem;
  height: 30rem;
  position: relative;
  overflow: hidden;

  &__image {
    transform: translate(60rem);
    position: absolute;
    width: 100%;
  }
}

.slideshow-img {
  transform: translate(0);
  transition: 0.6s;
}

.slideshow-left {
  transform: translate(-60rem);
  transition: 0.6s;
}
